@model IEnumerable<AppUser>
@{
    ViewData["title"] = "Quản lý tài khoản";
}
<div class="container py-4">
    <h1 class="h3">Quản lý tài khoản</h1>
    <table class="table table-hover table-striped align-middle">
        <thead>
            <tr>
                <th>Họ tên</th>
                <th>Email</th>
                <th>Vai trò</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>@foreach(var u in Model){<tr>
                <td>@u.FullName</td>
                <td>@u.Email</td>
                <td>@u.Role</td>
                <td>@u.sTrangThai </td>
                <td>
                    <form method="post" asp-action="ToggleLock" asp-route-id="@u.Id"><button class="btn btn-sm btn-outline-danger">
                            @(u.sTrangThai.Equals("Đã khóa") ? "Mở khóa" : "Khóa")
                        </button>
                    </form>
                </td>
            </tr>}
            </tbody>
    </table>
</div>